@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Veles";
  src: local("Veles"), url(./Veles.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Veles";
  background: url(./bg.jpg) repeat;
  background-size: contain;
}
